* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100svh;
    width: 100svw;
    padding: 10px 0;
    /* background-image: linear-gradient(rgb(92, 100, 221), purple); */
    background-color: #6e7ebf;
    color: white;


}

@font-face {
    font-family: nunito;
    src: url(../assets/font/Nunito-VariableFont_wght.ttf);
}

.chat-nav {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo {
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    filter: hue-rotate(50%);
}

#first {
    text-align: center;
}

/*  Container specific stuff*/
.container {
    max-width: 1000px;
    border: 2px solid #fff;
    padding: 10px 10px 10px 10px;
    /* margin-bottom: 23px; */
    overflow-y: auto;
    scroll-behavior: smooth;
    margin: auto;
    height: 60svh;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 5px #fff;

}

/* USer ONline Section */

.onlinesection {
    max-width: 1000px;
    border: 2px solid black;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 5vh;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.onlinesection>div {
    text-align: center;


}

.dot {
    height: 1.5vh;
    width: 1.5vh;
    background-color: rgb(49 246 16);
    border-radius: 50%;
    display: inline-block;
    box-shadow: 2px 3px 12px 1px rgb(49 246 16);
    margin: 0.8vw;

}

.oname {
    color: white;
    display: inline-block;
    padding-top: 10px;
}





.sender_name {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.message {
    background-color: rgb(255, 255, 255);
    min-width: 25%;
    max-width: 65%;
    height: max-content;
    padding: 8px 10px;
    margin: 17px 12px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'nunito';
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px #fff;
}

.message>div {
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.other_options_container {
    position: relative;
}

.other_options_container:hover>.other_options {
    display: flex;
}

.other_options_container>span {
    transform: rotate(180deg);
    color: black;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 18px;

}

.other_options {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    background-color: rgb(214, 211, 211);

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.other_options>div {

    width: max-content;
    padding: 3px;
    cursor: pointer;
    z-index: 34;
}

.left {
    float: left;
    clear: both;
}

.center {
    /* position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);  */
    margin: 5px auto;
    clear: both;
    width: 50%;
    border-radius: 30px;
    text-align: center;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
    padding: 0.5% 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.right {
    float: right;
    clear: both;

}



p,
span {
    /* background-color: cadetblue; */
    font-weight: 900;
    font-family: 'nunito';
    font-size: 1.2rem;
    text-transform: capitalize;
}





/* Send stuff */

#send-container {
    margin: 10px auto;
    text-align: center;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;

}

#messageInp {
    width: 89%;
    padding: 8px 10px;
    border-radius: 0%;
    border-radius: 10px;
    height: 34px;
    font-size: 22px;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
    font-family: 'nonito';
    box-shadow: inset 2px 2px 5px #888;
}

#messageInp:focus {
    border: none;
}

#btn {
    margin-left: 0px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 50px;
    width: 10%;
    font-size: 20px;
    font-weight: 800;
    background-color: #61a146;
    color: #fff;
}


.message_content {
    word-wrap: break-word;
    white-space: break-spaces;
}

/* scroll css */

/* width */
::-webkit-scrollbar {
    width: 10px;
    background-color: white;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px black; */
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
}